<!DOCTYPE html>
<html>
  <head>
    <title>MovieCinema</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "partial/header" %>

      <% if notice %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-primary alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>

      <% if alert %>
        <% flash.each do |message_type, message| %>
          <div class="alert alert-danger alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
      <% end %>


    <div class="container">
      <%= yield %>
    </div>
    <%= render "partial/footer" %>
  </body>
</html>
